$stars-animation:stars 500s linear infinite;

:host {
  color: white;

  .background-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
  }

  .stars {
    background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: 0;
    -webkit-animation:$stars-animation;
    -moz-animation:$stars-animation;
    animation:$stars-animation;
  }

}

@-moz-keyframes stars {
  100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes stars {
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes stars {
  100% {
    -webkit-transform: rotate(360deg);
    transform:rotate(360deg);
  }
}
