/* You can add global styles to this file, and also import other style files */
.center{
  display: grid;
  place-content: center;
}
body{
  //font-family: 'Acme', sans-serif;
  font-family: 'Dongle', sans-serif;
}
